DATABASE_URL=
ADMIN_PASSWORD=
ADMIN_SESSION_TOKEN=
AVLGO_API_URL=

NEXT_PUBLIC_AUTH_ENABLED=false
AUTH_SECRET=
AUTH_SPOTIFY_ENABLED=false
AUTH_SPOTIFY_ID=
AUTH_SPOTIFY_SECRET=
AUTH_GOOGLE_YOUTUBE_ENABLED=false
AUTH_APPLE_MUSIC_ENABLED=false
